@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
     box-sizing:        border-box;
}

body{
    font-family: "Cedarville Cursive", serif;
    font-weight: 1000;
    display: flex;
    flex-direction: column;
    background-color: #ECE1C8;
    height: 100vh;
    padding: 0;
    margin: 0;
}

main{
    display: flex;
    gap: 32px;
    height: 100vh;
}

#grid{
    display: flex;
    flex-wrap: wrap;
}

header,footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D71C1C;
    color: #FFD700;
    padding: 18px;
}